/* Start Variables */
/* :root {

} */
/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a:-webkit-any-link{
    text-decoration: none;

}
::-webkit-scrollbar{
    width: 13px;
    background-color: #cccd;
}
::-webkit-scrollbar-thumb{
    background-color: #333;
    /* border-radius: 3px; */
}
::-webkit-scrollbar-button{
    display: none;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    /* background-color: black; */
}
::selection{
    background-color: var(--main-color);
    color: white;
}
ul {
    list-style: none;
}
:focus{
    outline: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end  */

body > .container{
    height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.todo-delete-all{
    width: 100%;
}
form{
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
input[type="text"]{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
input[type=checkbox]{
    margin-left: 10px;
    cursor: pointer;
}
button{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
    background-color: #46d65c;
    color: white;
}